# Backend
DATABASE_URL=postgresql://rfid:rfid123@localhost:5432/vertiche_rfid
PORT=3000
NODE_ENV=development

# Simulator
BACKEND_URL=http://localhost:3000
INTERVALO_MS=2000
TASA_ANOMALIA=0.05

# Frontend
VITE_API_URL=http://localhost:3000
